<div class='col-md-12 home-header'>
  <div class='row'>
    <div class='col-md-2'>
      <h1 class='welcome'>Roommateble</h1>
    </div>
  </div>
  <div class='row col-md-10 search-form'>
    <form class="form-inline">
      <div class="form-group home-form">
        <label class="sr-only" for="location">Desired address or city</label>
        <input type="text" class="form-control home-form" id="location" placeholder="Desired Address or City">
      </div>
      <div class="form-group">
        <label class="sr-only" for="moveDate">Desired Move Date</label>
        <input type="text" class="form-control" id="moveDate" placeholder="Ideal Move Date">
      </div>
      <div class="form-group">
        <label class="sr-only" for="rentMin">Per room minimum</label>
        <input type="text" class="form-control" id="rentMin" placeholder="Rent Min">
      </div>
      <div class="form-group">
        <label class="sr-only" for="rentMax">Per room max</label>
        <input type="text" class="form-control" id="rentMax" placeholder="Rent Max">
      </div>
  
      <button type="submit" class="btn btn-default">Search</button>
    </form>
  </div>
</div>
  {{!-- <img class='col-md-12' src='/assets/images/beacon_hill.jpg'/> --}}



{{outlet}}
